.main {
  height: 100vh;
  background-color: #fff;
}

.box1 {
  height: calc(100vh - 2px);
  background-color: #3eaf7c;
}

.box2 {
  height: calc(100vh - 2px);
  background-color: #1989fa;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 200px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 2px;
  transition: all .5s;
  cursor: pointer;
  text-align: center;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 12px 2px;
}

.tit {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  text-shadow: #bbb 0 1px 0, #b5b5b5 0 2px 0, #acacac 0 3px 0, #a0a0a0 -1px 3px 0, #919191 -1px 4px 0, #7f7f7f -1px 5px 0, rgba(0,0,0,.2) -1px 6px 1px, rgba(0,0,0,.3) -2px 9px 6px;
  -webkit-text-shadow: #bbb 0 1px 0, #b5b5b5 0 2px 0, #acacac 0 3px 0, #a0a0a0 -1px 3px 0, #919191 -1px 4px 0, #7f7f7f -1px 5px 0, rgba(0,0,0,.2) -1px 6px 1px, rgba(0,0,0,.3) -2px 9px 6px;
}

.con {
  padding: 20px;
  font-size: 18px;
  text-shadow: #8c8e8b 0 0 3px;
  -webkit-text-shadow: #8c8e8b 0 0 3px;
}

.icon {
  font-size: 30px;
}

.icon:hover {
  transform: rotate(10turn);
  -webkit-transform: rotate(10turn);
  transition: all 10s linear 0s;
  -webkit-transition: all 10s linear 0s;
}